{% extends "layout.html" %}
{% block title %}
My Dashboard
{% endblock %}

{% block content %}
 <div class='dash_entry'>
          <img src="/static/images/steppodium_finalogo_400px.png" />

<h1>{{ user.display_name }}'s Dashboard</h1>

    <form method="POST" action="">
        {{form.hidden_tag()}}
        <p>Enter your steps for today and press "+" to add them to your total.</p>
        {{form.steps_walked(placeholder="step count here")}}

		<input type="submit" value="+" class="complete">

    </form>
    <br />
    <h2>Your Total Steps: <span class='sum'> {{ "{:,.0f}".format(sum_steps) }}</span> </h2>



    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p><div class="{{ category }}">{{ message }}</div></p>
            {% endfor %}
        {% else %}
        {% endif %}
    {% endwith %}

    <br>
        <a href="{{url_for('edit',user_id=user_id)}}")>Edit Step Entries</a>
    <br>
</div>

<div class='dash_entry sub'>
 <h1>Leaderboards </h1>

<span class=''>Check back soon, leaderboards are on their way!</span>
 
<br /> <h2>Individual Leaders</h2> 
        {% for each in individual %}
      <div class="b">
        <div class="b_l"> {{ each['_id']}} </div>
        <div class="b_r"> {{ "{:,.0f}".format(each['totalsteps']) }}
      </div> 
        {% endfor %}

<br /> <h2>Highest Team Averages</h2>
        {% for each in team_avg  %} <!-- REPLACE WITH TEAM AVG CODE -->
      <div class="b">
        <div class="b_l"> {{ each['_id']}} </div>
        <div class="b_r"> {{ "{:,.2f}".format(each['average']) }}
      </div>
        {% endfor %}

<br /> <h2>Highest Position Averages</h2>
	 {% for each in position_avg  %} <!--REPLACE WITH POSITION AVG CODE -->
      <div class="b">
        <div class="b_l"> {{ each['_id']}} </div>
        <div class="b_r"> {{ "{:,.2f}".format(each['average']) }}
      </div>
        {% endfor %}

</div>

    
{% endblock %}
