{% extends "layout.html" %}
{% block title %}
My Dashboard
{% endblock %}

{% block content %}
 <div class='dash_entry'>
          <img src="/static/images/steppodium_finalogo_400px.png" />

<h1>{{ user.display_name }}'s Dashboard</h1>

    <form method="POST" action="">
        {{form.hidden_tag()}}
        <p>Enter your steps for today and press "+" to add them to your total.</p>
        {{form.steps_walked(placeholder="step count here")}}

		<input type="submit" value="+" class="complete">

    </form>
    <br />
    <h2>Your Total Steps: <span class='sum'> {{ sum_steps }}</span> </h2>



    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p><div class="{{ category }}">{{ message }}</div></p>
            {% endfor %}
        {% else %}
        {% endif %}
    {% endwith %}

<!--
    {% if recent_steps == ""  %}
    {% else %}
        {% for each in recent_steps %}
      <p>{{ each['date'][4:6] }}/{{ each['date'][6:8] }}/{{ each['date'][0:4] }}: {{ each['steps'] }}</p> 
        {% endfor %}
    {% endif %}
-->

</div>

<div class='dash_entry sub'>
 <h1>Leaderboards </h1>

<span class=''>Check back soon, leaderboards are on their way!</span>
 
<br /> <h2>Individual Leaders</h2> 
        {% for each in individual %}
      <div class="b">
        <div class="b_l"> {{ each['_id']}} </div>
        <div class="b_r"> {{ each['totalsteps'] }}
      </div> 
        {% endfor %}

<br /> <h2>Highest Team Averages</h2>
        {% for each in individual  %} <!-- REPLACE WITH TEAM AVG CODE -->
      <div class="b">
        <div class="b_l"> {{ each['_id']}} </div>
        <div class="b_r"> {{ each['totalsteps'] }}
      </div>
        {% endfor %}

<br /> <h2>Highest Position Averages</h2>
	 {% for each in individual  %} <!--REPLACE WITH POSITION AVG CODE -->
      <div class="b">
        <div class="b_l"> {{ each['_id']}} </div>
        <div class="b_r"> {{ each['totalsteps'] }}
      </div>
        {% endfor %}

</div>

    
{% endblock %}
