<h1>Dashboard</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p><div class="{{ category }}">{{ message }}</div></p>
            {% endfor %}
        {% else %}
        {% endif %}
    {% endwith %}
    
    {{ sum_steps }}

    <form method="POST" action="">
        {{form.hidden_tag()}}
        <p>Enter your steps for today!</p>
        {{form.steps_walked}}<br>

        <input type="submit" value="Go">
    </form>
    <br>
    <br>
    {% if recent_steps == ""  %}
    {% else %}
        {% for each in recent_steps %}
        <p>{{ each['date'][4:6] }}/{{ each['date'][6:8] }}/{{ each['date'][0:4] }} {{ each['steps'] }}</p>
        {% endfor %}
    {% endif %}
    
