{% extends "layout.html" %}
{% block title %}
My Dashboard
{% endblock %}

{% block content %}
 <div class='dash_entry'>
          <img src="/static/images/steppodium_finalogo_400px.png" />

<h1>Edit Steps</h1>
Select the steps you want to delete. 
<br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p><div class="{{ category }}">{{ message }}</div></p>
            {% endfor %}
        {% else %}
        {% endif %}
    {% endwith %}

    <br>
    <form method="POST" action="">
        {{form2.hidden_tag()}}
        {{form2.edit_steps}}
        <input type="submit" value="-" class="complete">
    </form>
   <br>
   <a href=/dashboard/{{user_id}}>Return to dashboard</a> 
   <br>
   </div>
{% endblock %}
