
<h1>Login</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <p><div class="{{ category }}">{{ message }}</div></p>
                {% endfor %}
            {% else %}
            {% endif %}
        {% endwith %}

   <form method="POST" action="">
        {{form.hidden_tag()}}
        {{form.email.label}}
        {{form.email(placeholder="your_name@AJG.com")}}<br>
        {{form.password.label}}
        {{form.password}}<br><br>

        <input type="submit" value="Go">
   </form>
<a href="{{url_for('forgot_password')}}">Forgot Password?</a>
