
<h1>Register</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <p><div class="{{ category }}">{{ message }}</div></p>
                {% endfor %}
            {% else %}
            {% endif %}
        {% endwith %}

   <form method="POST" action="/">
        {{form.hidden_tag()}}
        {{form.display_name.label}}
        {{form.display_name}}<br>
        {{form.password.label}}
        {{form.password}}<br>
        {{form.confirm.label}}
        {{form.confirm}}<br>
        {{form.position.label}}
        {{form.position}}<br>
        {{form.office.label}}
        {{form.office}}<br><br>
       <input type="submit" value="Go">
   </form>
