<html>
  <head> 
  <title>
	steppodium - Register Now!
	</title> 
	
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }} " />
  </head>
  
  <body>
	<div class='login'>
          <img src="{{ url_for('static', filename='images/steppodium_finalogo_400px.png') }}" />
	  
	  <div class='register'>
        <form method="POST" action="/welcome/">
            {{form.hidden_tag()}}
            {{form.email(placeholder="first_last@ajg.com")}}<br>
            <input type="submit" class='submit' value="register">
        </form>

	     <!input type='text' class='email_box' placeholder="email address" onfocus='if(this.value=="email address"){this.value="";}'>
		
		<!input type='submit' class='submit' value='register!'>
	  </div>
	  <div class='verify'>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <p><div class="{{ category }}">{{ message }}</div></p>
                {% endfor %}
            {% else %}
            {% endif %}
        {% endwith %} 
	  </div>
	</div>
	
	
	<div class='footer'>
	  &copy; 2015 usorio systems. all rights reserved.
	</div>
  </body>
  
</html>
