body, div, input {
 font-family: "Helvetica Neue","Helvetica",arial,sans serif;   
}

body {
  background-position: 10%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.login {
  margin: 15% auto;
  min-width: 200px;
  max-width: 400px;
  background-color:rgba(226,226,226,0.8);
  height: 500px;
  padding:45px;
  text-align:center;
  
  border-radius: 50px; 
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px; 
  border: 0px solid #000000;
}

.register {
  padding: 45px 15px 15px 15px;   
  text-align:center;
}


.register input#email {
font-size: 2em;
text-align: center;
background: none;
height: 45px;
width: 400px;
border: 3px solid #10A7ee;
margin-bottom: 20px;
}

.register input#email:not([ie8min])  {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 3px solid #10A7ee;
	width: 100%;
				}

.register input.submit {
  height:60px;
  cursor: hand;
  min-width: 155px;
  color: #FFFFFF;
  background: #10A7ee;
  border-radius: 50px; 
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px; 
  border: 0px solid #000000;
  font-size: 1.6em;
  font-weight: 600;
  text-transform: lowercase;
  
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

input.submit:hover,
input.submit:focus {
    transform: scale(1.1);
}
input.submit:active {
  color: #545454;
}

input {
  outline: 0;
}

.verify {
  display: block;
  width:100%;
  max-width: 400px;
  padding-top:55px;
	
}

.scale_img {
  width:100%;
  max-width: 420px;
}

.profile, .user_login  {
  margin: 3% auto;
  min-width: 300px;
  max-width: 600px;
  background-color:rgba(226,226,226,0.8);
  padding:45px;
  text-align:left;
 
  border-radius: 50px; 
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px; 
  border: 0px solid #000000;
}
.register input.#display_name {
  font-size: 2em;
  text-align: center;
  background: none;
  height: 45px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #10A7ee;
  margin-bottom: 20px;
}
input.complete {
  height:60px;
  margin: 20px 0px 20px 0px;
  display:block;
  float:right;
  cursor: hand;
  min-width: 255px;
  color: #FFFFFF;
  background: #10A7ee;
  border-radius: 50px; 
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px; 
  border: 0px solid #000000;
  font-size: 1.6em;
  font-weight: 600;
  text-transform: lowercase;
  
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
input.submit:hover,
input.submit:focus,
input.complete:hover,
input.complete:focus{
    transform: scale(1.1);
}
input.complete:active {
  color: #545454;
}
input {
  outline: 0;
}

/* Left DIV: Form Labels  */
.l {
  width: 37%;
  margin-top: 8px;
  padding: 0px; 
  float: left;
  text-align: right;
  font-size: 1.5em;
  height: 36px;
  text-transform: lowercase;
}
 
/* Right DIV */
.r {
  width: 60%;
  margin: 0px;
  padding: 0px; 
  float: right;
  text-align: left;
}
.r input {
  font-size: 1.5em;
  text-align: left;
  background: none;
  height: 36px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #10A7ee;
  margin-bottom: 10px;
}
.r select {
  color:#FFF; 
  font-size: 1.5em;
  text-align: left;
  background: #10A7ee;
  height: 48px;
  width: 102%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #10A7ee;
  outline: 0;
  padding-left: 5px;
   border-radius: 20px; 
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px; 
}
 
.a {
  clear: both;
  margin:auto;
  padding: 10px;
}

fieldset {
  -moz-border-radius: 7px;
  
  border-top: 1px #dddddd solid;
  border-bottom: 1px #dddddd solid;
  border-right: 0px;
  border-left: 0px;
  padding: 10px 0px 20px 0px;
  width: 95%;
  margin-top: 10px;
}
 
fieldset legend {
  font-family: "Helvetica Neue","Helvetica","Arial",sans serif;
  font-weight: 600;
  font-size: 25px;
 
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

input, textarea {
  margin: 5px;
  padding: 0px;
}
 
/* BR */
 
br {
  clear: left;
}

/* Avatars */
label.avatars {
  width:50px;
  padding-left: 0px;
  margin-left:0px;
  margin-right:5px;
  margin-top: 10px;
}

label.avatars > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label.avatars > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:4px solid transparent;
  border-radius: 10px; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px; 
  width: 50px; 
  height:50px;
}

label.avatars > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:4px solid #10A7ee;
}

.scale_img {
  width:100%;
  max-width: 320px;
}

/* Login-Page Specific Code */
.pw a {
  padding-left: 5px;
  color: #10A7ee;
  text-decoration: none;
  font-weight: 600;
}
.pw a:hover {
  text-decoration: underline;
}

.loginForm input.complete {
  width: 100px;
  float: right;
}

.footer {
  text-align: center;
  color:#B2B2B2;
  text-transform: lowercase;
  font-weight: 600;
}
