<html>
  <head> 
  <title>
	steppodium - Reset Password
	</title> 

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>
<body>

<div class='user_login'>
          <img src="/static/images/steppodium_finalogo_400px.png" />

<h1>Reset Password</h1>

   <form method="POST" action="" class="loginForm">
        {{form.hidden_tag()}}
    <div class="a">
       <div class="l"> {{form.password.label}} </div>
       <div class="r"> {{form.password}}</div>
    </div>
    <div class="a">
       <div class="l"> {{form.confirm.label}} </div>
       <div class="r"> {{form.confirm}} </div>
    </div>
 <br/>
        <input type="submit" class="complete"  value="reset password!">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <p><div class="{{ category }}">{{ message }}</div></p>
                {% endfor %}
            {% else %}
            {% endif %}
        {% endwith %}


   </form>
<br />
<br />
<br />
        </div>

<div class='footer'>
          &copy; 2015 usorio systems. all rights reserved.
        </div>
</body>
